[submodule "plugins/billable_time"]
	path = plugins/billable_time
	url = git@github.com:Propheris/billable_time.git
[submodule "plugins/redmine_auto_watch"]
	path = plugins/redmine_auto_watch
	url = git@github.com:mephi-ut/redmine_auto_watch.git
[submodule "plugins/redmine_slack"]
	path = plugins/redmine_slack
	url = git@github.com:sciyoshi/redmine-slack.git
[submodule "plugins/updated_overdue"]
	path = plugins/updated_overdue
	url = git@github.com:Propheris/updated_overdue.git
[submodule "public/themes/documas"]
	path = public/themes/documas
	url = git@github.com:Propheris/redmine-documas-theme.git
